// Colors

$color-primary-light: #ccffff;
$color-primary: #1cb5e0;
$color-primary-medium: #000080;
$color-primary-dark: #000046;

$color-secondary: #ffff80;
$color-secondary-light: #ffffb3;

$color-orange: #f36507;

$color-gray: #888888;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Row & Grid
$row-width: 114rem; // 1140px is standard for row.

// Paddings
$padding-xsmall: 1rem;
$padding-small: 2rem;
$padding-medium: 3rem;
$padding-large: 4rem;

// Margins
$gutter-vertical-small: 1.5rem;
$gutter-vertical-medium: 4rem;
$gutter-vertical-medium-2: 7rem;
$gutter-vertical-large: 8.5rem;
$gutter-vertical-exlarge: 10rem;

$gutter-horizontal: 6rem;

// Font size
$font-size-default: 1.5rem;
$font-size-small: 1.4rem;
$font-size-large: 1.7rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 2.5rem;
