@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}

@keyframes faseIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
